[package]
name = "keymap-core"
version = "0.1.0"
edition = "2024"

[lints]
workspace = true

[dependencies]
anyhow = "1.0.100"
log = "0.4.29"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
