name: CI

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  lint-and-format:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install mise
        uses: jdx/mise-action@v3

      - name: Install dependencies
        run: mise exec -- uv sync

      - name: Install clippy
        run: mise exec -- rustup component add clippy

      - name: Run Lint
        run: mise run lint

      - name: Run Format
        run: mise run format

      - name: Run Tests
        run: make test

      - name: Check for unformatted files
        run: git diff --exit-code
